body {
    background-image: url('../img/background.jpeg');
    background-position: center center;
}

.content {
    background-color: rgba(255,255,255,0.8);
}

header {
    background-color: rgba(0,40,90,0.7);
}

main {
    background-color: rgba(0,50,100,0.5);
}

footer {
    background-color: rgba(0,0,0,0.9);
}

img.resize{
    max-width:100%;
    max-height:100%;
}

h2 {
    font-size: 1.3em;
    text-transform: uppercase;
    color: #04A;
    margin-bottom: 1em;
    font-weight: 700;
}

h3 {
    font-size: 1.5em;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 500;
    border-bottom: 1px solid black;
    padding-bottom: 0.3em; 
}

#info h4 {
    background-color: rgb(20, 122, 218);
    color: white;
    font-weight: 400;
    padding: 0.3em;
    font-size: 1.1em;
}

#info h4:hover {
    background-color: rgb(65, 173, 236);
}

#info li {
    display: none;
}

#info img {
    display: none;
}

#vystavba p {
    font-family: 'Roboto', sans-serif;
}

#zajimavosti p {
    font-family: 'Roboto', sans-serif;
}

#info li {
    font-family: 'Roboto', sans-serif;
}